.header {
    padding: 3rem 0;

    @include respond(phone) { padding: 1.5rem 0 0 0;}

    &__container {
        @include respond(phone) { position: relative;}
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    &__logo-link {
        display: block;
        margin-left: -.75rem;
        margin-right: auto;
        height: 5rem;
        width: 5rem;
    }

    &__controller { margin-right: 1.4rem;}

    &__user {
        margin-left: 1.2rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        box-shadow: 10px 15px 20px rgba($color-main, .1);
    }

    &__burger-menu {
        margin-left: 2.1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__burger-menu-icon {
        height: 2.4rem;
        width: 2.4rem;
    }

    &__search {
        margin-top: 2rem;
        width: 100%;
        @include respond(phone) {
            width: 42vw;
            position: absolute;
            top: -7.2rem;
            left: 6rem;
        }

        @include respond(tab-port) {
            width: 35vw;
            left: 25rem;
        }
    }
}

