.doctors-section {
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        margin-top: 5rem;
    }

    &__header {
        margin-bottom: 2.2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @include respond(tab-port) {
            width: 45rem;
            margin: 0 auto 2.2rem auto;
        }
    }

    &__title {
        font-size: 2.4rem;
        line-height: 2.6rem;
        font-weight: 800;
        color: $color-main;
    }

    &__link {
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 800;
        color: $color-secondary;
    }

    &__slider-cards {
        display: flex;
    }
}


.card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5rem 1.4rem 1.5rem 1.5rem;
    max-width: 38.5rem;
    height: 40rem;
    background-color: white;
    border: 1px solid $color-main--light-1;
    border-radius: .5rem;

    @include respond(phone) {
        width: auto;
        max-width: 45rem;
    }

    &--online .card-avatar__description--online::after,
    &--offline .card-avatar__description--offline::after {
        content: '';
        position: absolute;
        bottom: 2.3rem;
        left: .8rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        border: .3rem solid white;
    }

    &--online .card-avatar__description--online::after {
        background-color: $color-secondary--bright;
    }

    &--offline .card-avatar__description--offline::after {
        background-color: gray;
    }

    &__favorite {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        height: 3.5rem;
        width: 3.5rem;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 10px 15px rgba(black, .1);
    }

    &__favorite-icon {
        fill: $color-secondary;
        @include absCenter;
    }

    &__btns-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        &:first-child {padding: 1.1rem 5rem;}
        &:nth-child(2) {padding: 1.1rem 3rem;}
    }
}

.card-header {
    padding-top: .5rem;
    display: flex;
    align-items: flex-start;

    &__title-wrapper {
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    &__title {
        display: block;
        margin-bottom: 1px;
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 2.15rem;
    }

    &__subtitle {
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: .05px;
        color: $color-main--bright;
    }
}


.card-avatar {
    margin-top: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__photo {
        display: block;
        margin-bottom: 1px;
        height: 9rem;
        width: 9rem;
    }

    &__description {
        text-align: center;
        font-size: 1.2rem;
        color: $color-main;

        &--offline {display: none;}
    }
}


.card-about {
    margin-top: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 1rem;
        justify-self: end;

        &:last-child {
            margin-left: auto;
            margin-top: .8rem;
        }
    }

    &__item-icon-wrapper {
        position: relative;
        grid-row: 1/-1;
        grid-column: 2/3;
        align-self: center;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: $color-main--light-2;
    }

    &__item-icon {
        fill: $color-main--bright;
        @include absCenter
    }

    &__item-value {
        justify-self: end;
        font-size: 1.6rem;
        line-height: 1.6rem;
        font-weight: 600;
        color: $color-main--bright;
    }

    &__item-name {
        justify-self: end;
        font-size: 1.27rem;
        line-height: 1.2rem;
        letter-spacing: .15px;
        color: $color-gray;
    }

    &__item-address {
        font-size: 1.4rem;
        font-style: normal;
        letter-spacing: .1px;
        font-weight: 600;
    }
}


.card-price {
    margin-top: 1.8rem;
    margin-bottom: 3.6rem;
    margin-left: auto;

    &__title {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: .1px;
        font-weight: 600;
        text-align: right;
    }

    &__name {
        padding-right: .8rem;
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-weight: 800;
        color: gray;
    }

    &__value {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
    }
}

.slick-list {padding: 0!important}

.slick-dots {
    bottom: -2.9rem;
}


.slider__dots {
    display: flex;
    justify-content: center;
    list-style: none;
}

.slider__dots li button::before{
  display: none;
}

.slider__dots li {
    display: block;
    height: .85rem;
    width: .85rem;
    border-radius: 50%;
    background-color: $color-main;
}

.slider__dots .slick-active {
    width: 2rem;
    border-radius: 1rem;
    background-color: $color-secondary;
}