* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(phone) { font-size: 68.75%;} //11px

    @include respond(tab-port) { font-size: 75%;} //12px

    @include respond(tab-land) { font-size: 81.25%;} //13px

    @include respond(big-desktop) { font-size: 87.5%;} //14px

    @include respond(small-phone) { font-size: 60%;}
}

body {
    line-height: 1.6;
    overflow-x:hidden;
    font-weight: 400;
    background-color: $color-light-bg;
    font-family: 'AvenirNextCyr', serif;
    font-weight: 400;
}

.container { padding: 0 1.6rem 0 1.5rem;}

img { width: 100%;}

a { text-decoration: none;}