.link--underline {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 15%;
        height: 1px;
        background-color: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s ease-in;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: left;
    }
}