$color-main: #16395b;
$color-main--bright: #0943bf;
$color-main--light: #c1d4fe;
$color-main--light-1: #cad9fe;
$color-main--light-2: #e4edfe;

$color-secondary: #07d9b4;
$color-secondary--bright: #00d7a9;
$color-secondary--bright-1: #05c491;
$color-secondary--light: #22b6e2;

$color-gray: #7a7a7a;

$color-light-bg: #f6f4fc;